//THIS PROJECTS RE-USALBLE VARIABLES

//COLORS
$black: #222222;
$white: #F7F7F7;
$primary: #9375ff;
$secondary: #f896d8;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500,600');

//FONTS
$primaryFont: 'Fira Sans', sans-serif;